beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
darklyrics==0.1.5
idna==2.6
lxml==4.2.1
markovify==0.7.1
nltk==3.3
oauthlib==2.0.7
PySocks==1.6.8
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
slacker==0.9.65
tweepy==3.6.0
Unidecode==1.0.22
urllib3==1.22
wikiquotes==1.4
